@import '../../_base.scss';


.watch_player{
    height:60vh;
    width: 100%;
    background-color:$black-secondary;
    margin-bottom: 1.5rem;

}

@media (max-width: $breakpoint-small) {
   .watchScreen_player {
      height: 35vh;
   }
}